<p>document-display works!</p>
       <!--- <iframe style="height: 45vh; width:100%; display: block;"https://deploymentresearch.s3.amazonaws.com/NYCDOE71431-abc628ec-.docx
      ngx-document src="http://unec.edu.az/application/uploads/2014/12/pdf-sample.pdf"
      provider="google"></iframe>!-->
     <!-- <iframe  ngx-document  ="https://deploymentresearch.s3.amazonaws.com/NYCDOE71431-abc628ec-.docx" provider="office" style="height: 100%; width:100%;"></iframe>
  -->
  <a class="iframe" href="//docs.google.com/gview?url=https://deploymentresearch.s3.amazonaws.com/NYCDOE71431-abc628ec-.docx&embedded=true">Open a Word document in Fancybox</a>
